// ==========================================================================
// #Base: Global
// ==========================================================================

html, 
body,
#root {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f5f9;
    // background-color: #111111;
}
